*{
    padding: 0;
}

.bannerAndFooter{
    background-image: URL(../clouds.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: lightslategray;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    color: whitesmoke;
    height: 200px;
    width: 100%; 
}
nav a{
    text-decoration: none;
    color: whitesmoke;
    margin-left: 30px;
}
.section1{
    display: flex;
    flex-direction: row;
}
.section2{
    display: flex;
    flex-direction: row;
    height: 500px;
}
.section3{
    display: flex;
    flex-direction: row;
}
.section4{
    display: flex;
    flex-direction: row;
}
.div1{
    background-color: whitesmoke;
    height: 500px;
    width: 50%;
}
.div2{
    background-color: rgb(99, 99, 99) ;
    height: 500px;
    width: 50%;
}
.div3{
    background-color: rgb(99, 99, 99);
    height: 500px;
    width: 50%;
}
.div4{
    background-color: whitesmoke;
    height: 500px;
    width: 50%;
}
.div5{
    background-color: whitesmoke;
    height: 500px;
    width: 50%;
}
.div6{
    background-color: rgb(99, 99, 99);
    height: 500px;
    width: 50%;
}
main{
    text-align: center;
    background-image: URL(../clouds.jpeg);
    background-repeat: no-repeat;
    background-size: 320%;
}
.pageContainer{
    max-width: 1000px;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
}
.footer1{
    background-image: URL(../clouds2.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: lightslategray;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(57, 57, 57);
    height: 200px;
    width: 100%; 
    border-top: 25px solid rgba(158, 145, 123, 0.64)
    
}